<form [formGroup]="missionForm" class="form__group" *ngIf="currentMission">

  <h2>{{ currentMission.title }}</h2>


  <div class="form__item">
    <label for="title">Title</label>
    <div class="form__input" [ngClass]="fieldCss(title)">
      <input type="text" formControlName="title" id="title" name="title" placeholder="Operation Skyjack" />
    </div>
    <app-form-error-field [displayError]="isValid(title)" errorMsg='Title is missing. Imagine if someone dies on "operation Untitled". What will you
        tell their parents?'></app-form-error-field>
  </div>


  <div class="form__item">
    <label for="title">Departure time</label>
    <div class="form__input" [ngClass]="fieldCss(departureTime)">
      <input type="time" formControlName="departureTime" id="departureTime" name="departureTime" />
    </div>
    <app-form-error-field [displayError]="isValid(departureTime)" errorMsg='This is not a valid time.'>
    </app-form-error-field>
  </div>


  <div class="form__item">
    <label for="priority">Priority</label>
    <div class="form__input" [ngClass]="fieldCss(priority)">
      <input type="number" formControlName="priority" id="priority" name="priority" min="0" max="9" />
    </div>
    <app-form-error-field [displayError]="isValid(priority)"
      errorMsg='The priority is invalid/missing. It can be a number from 0 to 9.'></app-form-error-field>
  </div>


  <div class="form__item">
    <label for="type">Mission type</label>
    <div class="form__input" [ngClass]="fieldCss(type)">
      <input type="text" formControlName="type" id="type" name="type" placeholder="Combat" />
    </div>
    <app-form-error-field [displayError]="isValid(type)"
      errorMsg='What kind of mission will this be? Or are you planning to send soldiers to do xeno-archeology?'>
    </app-form-error-field>
  </div>


  <div class="form__item">
    <label for="colorcode">Colour Code</label>
    <div class="form__input">
      <select name="colorcode" id="colorcode" formControlName="colorcode">
        <option value="gray" selected="selected">None</option>
        <option value="green">Green</option>
        <option value="blue">Blue</option>
        <option value="yellow">Yellow</option>
        <option value="orange">Orange</option>
        <option value="red">Red</option>
      </select>
    </div>
  </div>


  <div class="form__item">
    <label for="goal">Mission goal</label>
    <div class="form__input" [ngClass]="fieldCss(goal)">
      <input type="text" formControlName="goal" id="goal" name="goal" placeholder="Keep it less than 200 letters short."
        maxlength="200" />
    </div>
    <app-form-error-field [displayError]="isValid(goal)"
      errorMsg='So, there is no reason for this mission to exist? A mission needs a goal.'>
    </app-form-error-field>
  </div>



  <div class="form__item">
    <label for="xo">Mission Leader (CO)</label>
    <div class="form__input" [ngClass]="fieldCss(xo)">
      <input type="text" formControlName="xo" id="xo" name="xo" placeholder="" />
    </div>

    <app-form-error-field [displayError]="isValid(xo)"
      errorMsg='A mission without someone being responsible. Excellent use of your budget.'>
    </app-form-error-field>
  </div>


  <div class="form__item">
    <label for="authorised">Authorised?</label>

    <input formControlName="authorised" id="authorised" name="authorised" type="checkbox" value="authorised" />
    <div class="form__checkbox"></div>

  </div>


  <div class="form__item">
    <label for="authorisedby">Authorised by</label>
    <div class="form__input">
      <input type="text" formControlName="authorisedby" id="authorisedby" name="authorisedby" placeholder="" />
    </div>
  </div>


  <div class="form__item">
    <label for="shuttle">Shuttle Needed</label>
    <div class="form__input">
      <select name="shuttle" id="shuttle" formControlName="shuttle">
        <option value="none" selected="selected">None</option>
        <option value="SC-01 Louisa">SC-01 Louisa</option>
        <option value="SC-05 Najat">SC-05 Najat</option>
        <option value="SC-06 Mouse">SC-06 Mouse</option>
        <option value="SC-07 Ambrotos Libertatem">SC-07 Ambrotos Libertatem</option>
      </select>
    </div>
  </div>


  <div>
    <button [disabled]="!missionForm.valid" class="btn btn--green" (click)="clickSubmit()">
      SAVE CHANGES
    </button>
  </div>

</form>

<h2 *ngIf="!currentMission" class="missions__null">
  ERR: No selected missions.
</h2>



<div class="confirm-dialog-overlay" *ngIf="showConfirmDialog">

  <div class="confirm-dialog">

    <p class="warning" (click)="closeDialog()" style="text-align: right; cursor: pointer;">
      <fa-icon icon="times"></fa-icon>
    </p>

    <h3 class="warning">
      <fa-icon icon="exclamation-triangle"></fa-icon>&nbsp;Departure time has been altered
    </h3>

    <p>Delaying a mission can have strategic consequences, and affect crew morale.</p>

    <p class="buttons">
      <a class="btn btn--orange" (click)="submitMission('YES');">Confirm changes</a>
      &nbsp;
      <a class="btn" (click)="submitMission('NO');">Save without time changes</a>
    </p>

    <p class="aow"><i>
        Thus, though we have heard of stupid haste in war, <strong>cleverness has never been seen associated with long
          delays.</strong>
      </i></p>
  </div>


</div>
