errorMsg<form [formGroup]="missionForm" class="form__group">

  <div class="form__item">
    <h2>Enter new mission here.</h2>
  </div>


  <div class="form__item">
    <label for="title">Title</label>
    <div class="form__input" [ngClass]="fieldCss(title)">
      <input type="text" formControlName="title" id="title" name="title" placeholder="Operation Skyjack" />
    </div>
    <app-form-error-field [displayError]="isValid(title)" errorMsg='Title is missing. Imagine if someone dies on "operation Untitled". What will you
          tell their parents?'></app-form-error-field>
  </div>


  <div class="form__item">
    <label for="title">Departure time</label>
    <div class="form__input" [ngClass]="fieldCss(departureTime)">
      <input type="time" formControlName="departureTime" id="departureTime" name="departureTime" />
    </div>
    <app-form-error-field [displayError]="isValid(departureTime)" errorMsg='This is not a valid time.'>
    </app-form-error-field>
  </div>


  <div class="form__item">
    <label for="priority">Priority</label>
    <div class="form__input" [ngClass]="fieldCss(priority)">
      <input type="number" formControlName="priority" id="priority" name="priority" min="0" max="9" />
    </div>
    <app-form-error-field [displayError]="isValid(priority)"
      errorMsg='he priority is invalid/missing It can be a number from 0 to 9.'></app-form-error-field>
  </div>


  <div class="form__item">
    <label for="type">Mission type</label>
    <div class="form__input" [ngClass]="fieldCss(type)">
      <input type="text" formControlName="type" id="type" name="type" placeholder="Combat" />
    </div>
    <app-form-error-field [displayError]="isValid(type)"
      errorMsg='What kind of mission will this be? Or are you planning to send soldiers to do xeno-archeology?'>
    </app-form-error-field>
  </div>


  <div class="form__item">
    <label for="colorcode">Colour Code</label>
    <div class="form__input">
      <select name="colorcode" id="colorcode" formControlName="colorcode">
        <option value="gray" selected="selected">None</option>
        <option value="green">Green</option>
        <option value="blue">Blue</option>
        <option value="yellow">Yellow</option>
        <option value="orange">Orange</option>
        <option value="red">Red</option>
      </select>
    </div>
  </div>


  <div class="form__item">
    <label for="goal">Mission goal</label>
    <div class="form__input" [ngClass]="fieldCss(goal)">
      <input type="text" formControlName="goal" id="goal" name="goal" placeholder="Keep it less than 200 letters short."
        maxlength="200" />
    </div>
    <app-form-error-field [displayError]="isValid(goal)"
      errorMsg='This mission is missing a goal. Are you going to just go out there and figure it out on the way there? No.'>
    </app-form-error-field>
  </div>


  <div class="form__item">
    <label for="xo">Mission Leader (XO)</label>
    <div class="form__input" [ngClass]="fieldCss(xo)">
      <input type="text" formControlName="xo" id="xo" name="xo" placeholder="" />
    </div>

    <app-form-error-field [displayError]="isValid(xo)"
      errorMsg='A mission without someone being responsible. Excellent use of your budget.'>
    </app-form-error-field>
  </div>


  <div class="form__item">
    <label for="goal">Authorised?</label>
    <input formControlName="authorisedby" id="authorisedby" name="authorisedby" type="checkbox" value="authorisedby" />
    <div class="form__checkbox"></div>
  </div>


  <div class="form__item">
    <label for="authorisedby">Authorised by</label>
    <div class="form__input">
      <input type="text" formControlName="authorisedby" id="authorisedby" name="authorisedby" placeholder="" />
    </div>
  </div>


  <div class="form__item">
    <label for="shuttle">Shuttle Needed</label>
    <div class="form__input">
      <select name="shuttle" id="shuttle" formControlName="shuttle">
        <option value="none" selected="selected">None</option>
        <option value="#1">#1</option>
        <option value="#2">#2</option>
        <option value="#3">#3</option>
      </select>
    </div>
  </div>


  <div>
    <button (click)="submitMission()" [disabled]="!missionForm.valid" class="btn btn--green">
      SUBMIT
    </button>
  </div>

</form>
