@import '../../assets/css/grid.global.scss';
@import '../../assets/css/variables.scss';

.grid {

  grid-template-rows: 8.5rem auto 1fr;
  grid-template-columns: 1fr auto;
  grid-template-areas:
      "top menu"
      "headerconnect headerconnect"
      "main main";

  @media(max-width: 768px) {
    grid-template-rows: 8.5rem auto 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
      "menu"
      "headerconnect"
      "main";
  }

  .item {

    &.side {
      grid-area: side;
    }

    &.main {
      grid-area: main;
      overflow-y: visible;
    }

    &.header-connect {
      grid-area: headerconnect;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: .2rem .8rem .2rem 1.6rem;
      border-bottom: 0;
      margin-bottom: -.6rem;
      .block {
        flex: 1;
      }

      @media(max-width: 768px) {
        app-clock {
          display: none;
        }
      }
    }

    // &.clock {
    //   align-items: center;
    //   display: flex;
    //   grid-area: clock;

    //   border-bottom: 2px solid rgba($soelite, 0.5);
    // }

  }

}

:host ::ng-deep, ::ng-deep {

  .date-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  h2.time {
    color: $gray;
    margin: 0.2rem auto;
    font-size: 3rem;
    text-align: right;
  }
}
