@import '../../assets/css/variables.scss';
@import '../../assets/css/grid.global.scss';

.grid {

    height: auto;
    min-height: 100vh;
    overflow: auto;
    overflow-x: hidden;

    grid-template-rows: 8.5rem 5rem auto;
    grid-template-columns: 1fr auto;
    grid-template-areas:
      "top menu"
      "titlebar titlebar"
      "overview overview";

  .item {

    &.overview {
      grid-area: overview;
      border-bottom: 2px solid $soered;
      padding-bottom: 2rem;
    }

    &.titlebar {
      grid-area: titlebar;
      border-bottom: 2px solid transparent;
      margin-bottom: -.6rem;
    }

  }

}

.titlebar {
  align-items: center;
  color: $soelite;
  display: flex;
  flex-direction: row;

  h2 {
    color: $soelite;
  }

  &__split {
    flex: 1;
    &--double {
      flex: 2;
      @media(max-width: $break-sm) {
        display: none;
      }
    }
  }
}

.date {
  text-align: right;
}

:host /deep/ .time {
  font-size: 2.4rem;
  margin: 0rem auto;
  text-align: right;
  color: $gray;
}
