@import '../../assets/css/variables.scss';
.grid {

    display: grid;
    grid-gap: .8rem;
    height: 100vh;
    padding: .8rem;
    transition: 0.4s;

    @media(min-width: 992px) {
      overflow: hidden;
      width: 100vw;
    }

    .item {

        animation: fadein 0.3s ease-in forwards;
        background-color: $dark-alt;
        background-image: url('/assets/img/pattern.png');
        border-bottom: 2px solid rgba($bluedim, 0.5);
        border-top: 1px solid lighten($dark-alt,5%);
        box-shadow: $googleShade;
        height: auto;
        padding: .8rem;
        width: auto;

        @media(min-width: 992px) {
            overflow-y: hidden;
            width: 100%;
        }

        &.top {
            animation: none;
            border-bottom: 2px solid rgba($gray, 0.5);
            display: flex;
            grid-area: top;

            @media(max-width: 768px) {
                display: none;
            }
        }

        &.menu {
            animation: none;
            grid-area: menu;
            transition: 0.3s;
            overflow-y: visible;
            padding-left: 0;
        }

        &.footer-clock, &.clock {
            background-image: none;
            border-bottom: 2px solid rgba($gubatyellow, 0.5);
            color: $gubatyellow;
            grid-area: footerclock;
            transition: 0.2s;
        }


    }

}
