@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 1; }
  75% { opacity: 1; }
  80% { opacity: 0.8; }
  85% { opacity: 0.2; }
  90% { opacity: 0.8; }
  100% { opacity: 1; }
}

@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(90deg); }
  50% { transform: rotate(180deg); }
  75% { transform: rotate(270deg); }
  100% { transform: rotate(359deg); }
}

@keyframes spinreverse {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(-90deg); }
  50% { transform: rotate(-180deg); }
  75% { transform: rotate(-270deg); }
  100% { transform: rotate(-359deg); }
}

@keyframes shake {
  0% { transform: translateX(0) }
  20% { transform: translateX(1.3rem) }
  40% { transform: translateX(-1rem) }
  60% { transform: translateX(0.7rem) }
  80% { transform: translateX(-0.4rem) }
  100% { transform: translateX(0.1rem) }
}
