<div *ngIf="missionList && missionList.length > 0" class="missions">

    <div class="missions__header">
        <div class="missions__rows">
            <fa-icon [icon]="faChevronDown"></fa-icon>&nbsp;&nbsp;Title
        </div>
        <div class="missions__rows no-mobile">Type</div>
        <div class="missions__rows no-mobile">CO</div>
        <div class="missions__rows no-mobile">Approved?</div>
        <div class="missions__rows no-mobile">Shuttle</div>
        <div class="missions__rows text-right">Departing</div>
    </div>

    <div *ngFor="let mission of missionList | orderBy: 'priority'" [ngClass]="mission.colorcode"
        class="missions__entry">
        <div class="missions__rows">
            <div class="status-ball"></div>&nbsp;{{ mission.title }}
        </div>
        <div class="missions__rows no-mobile">{{ mission.type }}</div>
        <div class="missions__rows no-mobile">{{ mission.xo }}</div>
        <div class="missions__rows no-mobile">
            <ng-container *ngIf="mission.authorised">YES</ng-container>
            <ng-container *ngIf="!mission.authorised">NO</ng-container>
        </div>
        <div class="missions__rows no-mobile">{{ mission.shuttle }}</div>
        <div class="missions__rows text-right departure-time">{{ mission.departureTime | date:'HH:mm' }}</div>
    </div>


</div>

<h1 *ngIf="!missionList || missionList.length === 0" class="missions__null">
    NO ACTIVE OR PLANNED MISSIONS.
    <br />
    PLEASE STAND BY.
</h1>
