<div class="menu__bar">

  <a class="menu__block" routerLink="/" routerLinkActive="menu__block--active" [routerLinkActiveOptions]="{exact:
true}" title="Mission Board / Home">
    <fa-icon icon="project-diagram"></fa-icon>
  </a>

  <a class="menu__block" routerLink="/fobview" routerLinkActive="menu__block--active" title="Forward Operating Bases">
    <fa-icon icon="broadcast-tower"></fa-icon>
  </a>

  <!-- <a class="menu__block" routerLink="/shuttles" routerLinkActive="menu__block--active" title="Local Transports">
    <fa-icon icon="plane-departure"></fa-icon>
  </a> -->

  <a class="menu__block" routerLink="/admin" routerLinkActive="menu__block--active" title="Admin">
    <fa-icon icon="lock" *ngIf="!loggedIn"></fa-icon>
    <fa-icon icon="lock-open" *ngIf="loggedIn"></fa-icon>
  </a>

</div>
