<app-mission-add *ngIf="selectedMenuItem === 'missionAdd'"></app-mission-add>

<app-mission-edit *ngIf="selectedMenuItem === 'missionEdit'"></app-mission-edit>

<app-mission-view *ngIf="selectedMenuItem === 'missionView'"></app-mission-view>

<app-fob-add *ngIf="selectedMenuItem === 'fobAdd'"></app-fob-add>

<app-fob-edit *ngIf="selectedMenuItem === 'fobEdit'"></app-fob-edit>

<app-fob-view *ngIf="selectedMenuItem === 'fobView'"></app-fob-view>

<app-adminstatus *ngIf="selectedMenuItem === 'adminStatus'"></app-adminstatus>
