@import '../src/assets/css/fonts.scss';
@import '../src/assets/css/variables.scss';
@import '../src/assets/css/keyframes.scss';

* {
  box-sizing: border-box;
}

html,body {
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
}
body {
  font-size: 14px;
  background-color: $dark;
  font-family: $fontregular;
  color: $gray;
  line-height: 1.42857143;
}

p {
    margin: 0.8rem;
}

h1, h2, h3 {
    font-family: $fonttitle;
    text-transform: uppercase;
}
h4, h5 {
    font-family: $fonttitle;
}

.time {
  font-family: $fonttime;
}
