@import '../src/assets/css/fonts.scss';
@import '../src/assets/css/variables.scss';
@import '../src/assets/css/keyframes.scss';

* {
  box-sizing: border-box;
}

html,body {
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
}
body {
  font-size: 14px;
  background-color: $dark;
  font-family: $fontregular;
  color: $gray;
  line-height: 1.42857143;
}

p {
    margin: 0.8rem;
}

h1, h2, h3 {
    font-family: $fonttitle;
    text-transform: uppercase;
}
h4, h5 {
    font-family: $fonttitle;
}

.time {
  font-family: $fonttime;
}

.text-right {
    text-align: right;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a.btn, .btn {
  background: none;
  border: 1px solid $beaconblue;
  border-radius: 3px;
  color: $beaconblue;
  cursor: pointer;
  padding: 0.8rem 1.2rem;
  text-decoration: none;
  transition: 0.3s;

  &--green {
    border-color: $terminalgreen;
    color: $terminalgreen;
  }

  &:hover, &:active, &:focus {
    border-color: $white;
    color: $white;
  }
}
