<div class="hex__inner">
  <a class="hex__link">

    <div class="hex__coordinates">
      <fa-icon [icon]="faMapMarkerAlt"></fa-icon>&nbsp;{{fobData.coordinates | uppercase}}
    </div>

    <h1 class="hex__title">{{fobData.name}}</h1>

    <div class="hex__supplies">

      <div class="hex__supplies__category">
        <span [ngClass]="{
                  'dot': true,
                  'dot--high': fobData.combinedPercentage >= supplyBreakpoints.high,
                  'dot--medium' : fobData.combinedPercentage < supplyBreakpoints.high && fobData.combinedPercentage >= supplyBreakpoints.medium,
                  'dot--low': fobData.combinedPercentage < supplyBreakpoints.medium
                }"></span>
      </div>

    </div>

  </a>
</div>
